<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234004568109-c57pfhfdv5mfk17poc9b8jcoorepe82v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234004568109-c57pfhfdv5mfk17poc9b8jcoorepe82v</string>
	<key>API_KEY</key>
	<string>AIzaSyCh1eaePayqstX36p8ddIThOOvHxgv3QOs</string>
	<key>GCM_SENDER_ID</key>
	<string>234004568109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clanrise.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-802e5</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-802e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234004568109:ios:ee97a76efce46fee5400a4</string>
</dict>
</plist>